* {
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: Dejavu Sans, Helvetica Neue, Arial, sans-serif;
  background-color: white;
}

.top-bar {
  display: flex;
  background-color: rgb(66, 103, 178);
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.facebook-logo {
  height: 65px;
}

.facebook-login {
  font-size: 13px;
  display: flex;
  color: white;
  align-self: flex-start;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  padding: 7px;
}

.form-control {
  align-self: flex-end;
  padding-bottom: 8px;
  display: flex;
  justify-content: center;
}

#button-login {
  font-weight: 700;
  color: white;
  background-color: blue;
  margin-right: 3px;
  border-radius: 5px;
}

.main-content {
  display: flex;
  flex-direction: row;
  background-color: #d5dae8;
  justify-content: space-between;
}

.left-content {
  width: 800px;
}

#facebook-slogan {
  color: #0e385f;
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  margin-top: 40px;
  width: 450px;
  word-spacing: -1px;
}

#facebook-networking {
  width: 537px;
}

.right-content {
  width: 300px;
  justify-content: center;
}

h1 {
  font-size: 31px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
}

footer {
  font-size: 11px;
  color: #737373;
  margin-top: 15px;
}
