* {
  margin: 0;
}

body {
  font-family: Dejavu Sans, Helvetica Neue, Arial, sans-serif;
  background-color: white;
}

.top-bar {
  display: flex;
  background-color: rgb(66, 103, 178);
  justify-content: space-between;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 7px;
}

.form-control {
  align-self: flex-end;
  padding-bottom: 16px;
}

.facebook-logo {
  height: 65px;
}

.facebook-login {
  font-size: 13px;
  display: flex;
  color: white;
  align-items: center;
  align-content: center;
}

#button-login {
  font-weight: 700;
  color: white;
  background-color: blue;
}

.main-content {
  display: flex;
  flex-direction: row;
  background-color: #d5dae8;
  height: 300px;
}
